name: CI-latest

on:
    pull_request:
        branches: [master]
    # push:
    #     branches: [master]

jobs:

  run-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mark workspace as safe
        run: git config --global --add safe.directory /app

      - name: Initialize composer
        uses: php-actions/composer@v6

      - name: PHPUnit Tests
        uses: php-actions/phpunit@master
        env:
          TEST_NAME: Scarlett
        with:
          version: 11.5
          php_version: 8.4
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml

  run-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mark workspace as safe
        run: git config --global --add safe.directory /app

      - name: Initialize composer
        uses: php-actions/composer@v6

      - name: Run linting
        run: composer run lint